div {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  max-width: 100%;
  margin-left: 20%;
  margin-right: 20%;
}

table {
  width: 350px;
}

#input-div {
  margin-top: 50px;
}

#count {
  text-align: left;
}

#task-text-td {
  text-align: right;
}

#task-text {
  width: 100%; 
  box-sizing: border-box;
}

td.input, #count-type {
  text-align: left;
  width: 0.1%;
  white-space: nowrap;
}

#add-btn-td, .filter-btn-td, .input, .delete {
  text-align: right;
  width: 0.1%;
  white-space: nowrap;
}