<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>Roll | Dice App</title>
</head>
<body>
  <header>
    <h1>Dice App</h1>
    <h2>Get ready to roll...</h2>
  </header>

  <main>
    <!-- Table -->
    <div class="tableDiv"> 
      <table id="allDice"><tbody></tbody></table>
    </div>

    <div class="btnsDiv">
      <!-- Link to bag.html -->
      <a href="./bag.html">I want to add, toss, or trade dice.</a>

      <!-- Roll button -->
      <button id="rollBtn">ROLL!</button>
    </div>

    <!-- Roll Modal -->
    <div class="modal">
      <div class="modalContent">
        <span class="close">&times;</span>
        <table><tbody></tbody></table>
      </div>
    </div>
  </main>

  <nav>
    <a id="back-btn" href="../../index.html">Back to Index</a>
  </nav>

  <script type="module" src="../scripts/helpers.js"></script>
</body>
</html>