body {
  margin: 0;
  background-color: white;
}

main {
  margin-left: 5%;
  margin-right: 5%;
}

h1, h2 {
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
}

ul {
  padding: 0;
  margin: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 100px);
  row-gap: 10px;
  column-gap: 10px;
}

li {
  display: inline;
  justify-self: center;
  align-self: center;
}

a, a:link {
  font-family:Arial, Helvetica, sans-serif;
  padding: 15px;
  color: beige;
  background-color: green;
  text-decoration: none;
}

a:active {
  background-color: darkgreen;
}

a:visited {
  text-decoration: none;
}

nav #back-btn {
  position: fixed;
  bottom: 0;
  padding-right: 0;
  padding-left: 0;
  min-width: 100%;
  text-align: center;
}
