body {
  margin: 0;
}

main {
  margin-left: 5%;
  margin-right: 5%;
}

h1, h2 {
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
}

h3, h4, h5, h6, p {
  font-family:Arial, Helvetica, sans-serif;
}

a, a:link {
  font-family:Arial, Helvetica, sans-serif;
  padding: 15px;
  color: white;
  background-color: green;
  text-decoration: none;
}

a:active {
  background-color: red;
}

a:visited {
  text-decoration: none;
}

nav {
  position: relative;
}

#back-btn {
  position: fixed;
  bottom: 0;
  padding-right: 0;
  padding-left: 0;
  min-width: 100%;
  text-align: center;
}

#code {
  font-family: 'Courier New', Courier, monospace; 
  background-color: lightgrey;
}